  <script src="/static/js/app-core.js?v=20260423e"></script>
  <script src="/static/js/app-page-items.js?v=20260423e"></script>
  <script src="/static/js/app-page-locations.js?v=20260423e"></script>
  <script src="/static/js/app-page-categories.js?v=20260423e"></script>
  <script src="/static/js/app-page-tags.js?v=20260423e"></script>
  <script src="/static/js/app-page-profile.js?v=20260423e"></script>
  <script src="/static/js/app-page-users.js?v=20260423e"></script>
  <script src="/static/js/app-page-data.js?v=20260423e"></script>
  <script src="/static/js/app-auth-bootstrap.js?v=20260423e"></script>
