<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>找东西</title>
  <link rel="icon" type="image/x-icon" href="/static/img/logo.ico?v=20260406b" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/logo-32.png?v=20260406b" />
  <link rel="stylesheet" href="/static/css/style.css?v=20260412a" />
</head>
<body class="booting">
  <div id="app">
    {% include "partials/_auth_section.html" %}

    <section id="mainSection" class="hidden">
      {% include "partials/_tabs_header.html" %}
      {% include "partials/_tab_items.html" %}
      {% include "partials/_tab_locations.html" %}
      {% include "partials/_tab_categories.html" %}
      {% include "partials/_tab_tags.html" %}
      {% include "partials/_tab_profile.html" %}
      {% include "partials/_tab_users.html" %}
    </section>
  </div>

  {% include "partials/_dialogs.html" %}
  {% include "partials/_inline_login_script.html" %}
  {% include "partials/_inline_boot_script.html" %}
  {% include "partials/_app_scripts.html" %}
</body>
</html>
